<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="" name="TestStarPlanDB"/>
    <add connectionString="Server=tcp:fe8ae198-416d-4cb3-97c2-6e0be1258497.database.windows.net,1433;Initial Catalog=StarPlanDB;Persist Security Info=False;User ID=AidanGannon;Password=StarPlanGame_;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" name="StarPlanDB"/>
  </connectionStrings>
</configuration>